Documents/
Code/Functions/__pycache__
Code/__pycache__/
.vscode/
.eggs
.venv
LaTeX/instructions.fdb_latexmk
LaTeX/instructions.fls
LaTeX/instructions.synctex.gz
LaTeX/instructions.toc
LaTeX/instructions.aux
LaTeX/instructions.log
LaTeX/instructions.out
LaTeX/table*.txt
